body {
    background: lavender;
    margin: 0;
}

.content {
    width: 500px;
    margin: 10px auto;
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    text-align: center;
}

button {
    margin: 10px auto;
    width: 150px;
    font-size: 18px;
}

.btn-blue {
    text-decoration:none; text-align:center;
    padding:5px 0;
    border:solid 1px #004F72;
    border-radius: 4px;
    font:20px Arial, Helvetica, sans-serif;
    color:#fff;
    background-image: -moz-linear-gradient(top, #a3e8ff 0%, #1982a5 100%);
    background-image: -webkit-linear-gradient(top, #a3e8ff 0%, #1982a5 100%);
    background-image: -o-linear-gradient(top, #a3e8ff 0%, #1982a5 100%);
    background-image: -ms-linear-gradient(top, #a3e8ff 0% ,#1982a5 100%);
    background-image: linear-gradient(top, #a3e8ff 0% ,#1982a5 100%);
}

.btn-blue:active{
    background-image: -moz-linear-gradient(top, #2b8dad 0%, #5ed7ff 100%);
    background-image: -webkit-linear-gradient(top, #2b8dad 0%, #5ed7ff 100%);
    background-image: -o-linear-gradient(top, #2b8dad 0%, #5ed7ff 100%);
    background-image: -ms-linear-gradient(top, #2b8dad 0% ,#5ed7ff 100%);
    background-image: linear-gradient(top, #2b8dad 0% ,#5ed7ff 100%);
}

.btn-lk {
    background-image: linear-gradient(top, #acf 0% ,#f9f 100%);
    background-image: -webkit-linear-gradient(top, #acf 0% ,#f9f 100%);
    background-image: -moz-linear-gradient(top, #acf 0% ,#f9f 100%);
    background-image: -o-linear-gradient(top, #acf 0% ,#f9f 100%);
    background-image: -ms-linear-gradient(top, #acf 0% ,#f9f 100%);
}

.btn-orange {
    background-image: linear-gradient(top, #ffb938 0% ,#ff4838 100%);
    background-image: -webkit-linear-gradient(top, #ffb938 0% ,#ff4838 100%);
    background-image: -moz-linear-gradient(top, #ffb938 0% ,#ff4838 100%);
    background-image: -o-linear-gradient(top, #ffb938 0% ,#ff4838 100%);
    background-image: -ms-linear-gradient(top, #ffb938 0% ,#ff4838 100%);
}

p {
    width: 450px;
    margin: 0 auto;
}

